.modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	background: #00000085;
	bottom: 0;
	z-index: 1110;
}
.innerModal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background: white;
	height: 100%;
	max-height: 800px;
	width: 100%;
	max-width: 800px;
	z-index: 30;
	overflow: auto;
}
@media (max-width: 767px) {
	.innerModal {
		width: 100vw;
		height: 100%;
		padding: 20px 20px 100px;
	}
}
.darkInnerModal {
	background: #161c24;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	height: 100%;
	max-height: 800px;
	width: 100%;
	max-width: 800px;
	z-index: 30;
	overflow: auto;
}
@media (max-width: 767px) {
	.darkInnerModal {
		width: 100vw;
		height: 100%;
		padding: 20px 20px 100px;
	}
}
.close {
	position: absolute;
	right: 10px;
	top: 10px;
	display: block;
	cursor: pointer;
	width: 25px;
	height: 25px;
}
.close path {
	stroke: #000;
	stroke-width: 1px;
}
.darkClose {
	position: absolute;
	right: 10px;
	top: 10px;
	display: block;
	cursor: pointer;
	width: 25px;
	height: 25px;
}
.darkClose path {
	stroke: #ffffff;
	fill: #fff;
	stroke-width: 1px;
}
