.Logo {
  height: 40px;
  cursor: pointer;
  transition: cubic-bezier(0, 0, 0, 1);
}
.Logo:hover {
  animation: rotation 1s linear infinite;
  transition: cubic-bezier(0, 0, 0, 1);
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
